

<div class="container">
    <h2>Add Image</h2>
    <!-- Trigger the modal with a button -->
  

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Image to Model</h4>
                </div>
                <div class="modal-body">
                    
                    <form method="post" enctype="multipart/form-data">
                        <input type="file" id="files"
                               name="files" multiple />
                        <input type="button"
                               id="upload"
                               value="Upload Selected Files" />
                    </form>

                    <div id="last_images_upload"> </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>







