<div class="tile-group double">
    <span class="tile-group-title">Other</span>
    <div class="tile-container">

        <a href="/editor">
            <div class="tile bg-teal fg-white" data-role="tile">
                <div class="tile-content iconic">
                    <span class="icon mif-pencil"></span>
                </div>
                <span class="tile-label">Editor</span>
            </div>
        </a>

        <div class="tile bg-darkGreen fg-white" data-role="tile">
            <div class="tile-content iconic">
                <span class="icon mif-shopping-basket"></span>
            </div>
            <span class="tile-label">Store</span>
        </div>
        <div class="tile bg-cyan fg-white" data-role="tile">
            <div class="tile-content iconic">
                <span class="icon mif-skype"></span>
            </div>
            <div class="tile-label">Skype</div>
        </div>
        <div class="tile bg-darkBlue fg-white" data-role="tile">
            <div class="tile-content iconic">
                <span class="icon mif-cloud"></span>
            </div>
            <span class="tile-label">OneDrive</span>
        </div>
    </div>
</div>
       