@model IEnumerable<PluralApp.Entites.Item>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
        </tr>
        }
    </table>
</body>
</html>