<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        @foreach ()
        <tr>
            <td>@Model</td>
        </tr>
    </table>

</body>
</html>